<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.oddlot.ledger">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/rounded_icon"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <uses-library
                android:name="android.test.runner"
                android:required="false" />
        <activity
                android:name=".activities.MainActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> -->

        <activity
                android:name=".activities.HelpActivity"
                android:configChanges="orientation"
                android:parentActivityName=".activities.MainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.TabsActivity"
                android:configChanges="orientation"
                android:label="@string/title_tabs"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".activities.IndividualTabActivity"
                android:configChanges="orientation"
                android:label=""
                android:parentActivityName=".activities.MainActivity"
                android:theme="@style/AppTheme"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.GroupTabActivity"
                android:configChanges="orientation"
                android:label=""
                android:parentActivityName=".activities.MainActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.AddItemActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.GroupExpenseActivity"
                android:configChanges="orientation"
                android:parentActivityName=".activities.GroupTabActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.AddGroupExpenseActivity"
                android:configChanges="orientation"
                android:parentActivityName=".activities.GroupTabActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.EditItemActivity"
                android:configChanges="orientation"
                android:parentActivityName=".activities.IndividualTabActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.EditGroupExpenseActivity"
                android:configChanges="orientation"
                android:parentActivityName=".activities.GroupTabActivity"
                android:screenOrientation="portrait" />
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>
</manifest>