<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.oddlot.opentab">

<!--    <uses-permission android:name="android.permission.INTERNET" />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/bubbles"
            android:label="@string/AppName"
            android:name="io.oddlot.opentab.App"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <uses-library
                android:name="android.test.runner"
                android:required="false" />

        <activity
                android:name="io.oddlot.opentab.presentation.main.MainActivity"
                android:configChanges="orientation"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="io.oddlot.opentab.presentation.misc.HelpActivity"
                android:configChanges="orientation"
                android:parentActivityName="io.oddlot.opentab.presentation.main.MainActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="io.oddlot.opentab.presentation.misc.SettingsActivity"
                android:configChanges="orientation"
                android:label="Settings"
                android:parentActivityName="io.oddlot.opentab.presentation.main.MainActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="io.oddlot.opentab.presentation.tab.TabActivity"
                android:configChanges="orientation"
                android:label=""
                android:parentActivityName="io.oddlot.opentab.presentation.main.MainActivity"
                android:theme="@style/AppTheme"
                android:screenOrientation="portrait" />

        <activity
                android:name="io.oddlot.opentab.presentation.transaction.PaymentActivity"
                android:configChanges="orientation"
                android:label=""
                android:parentActivityName="io.oddlot.opentab.presentation.tab.TabActivity"
                android:theme="@style/AppTheme"
                android:screenOrientation="portrait" />

        <activity
                android:name="io.oddlot.opentab.activities.GroupTabActivity"
                android:configChanges="orientation"
                android:label=""
                android:parentActivityName="io.oddlot.opentab.activities.MainActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:screenOrientation="portrait" />

        <!-- adjustResize so main window is always resized and not covered by the soft keyboard -->
        <activity
                android:name="io.oddlot.opentab.presentation.transaction.TransactionActivity"
                android:configChanges="orientation"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"/>

        <activity
                android:name="io.oddlot.opentab.activities.GroupTransactionActivity"
                android:configChanges="orientation"
                android:parentActivityName="io.oddlot.opentab.activities.GroupTabActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="io.oddlot.opentab.presentation.misc.AboutActivity"
                android:configChanges="orientation"
                android:parentActivityName="io.oddlot.opentab.presentation.main.MainActivity"
                android:screenOrientation="portrait" />

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />

    </application>

</manifest>